main {
    padding-top: 32px;
}

.background {
    background: url("../images/plans-background.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.package {
    border: solid 4px #0e4f1f;
    /* background: #09882b; */
    border-left: none;
    width: 80%;
    margin: 16px 0;
    position: relative;
}

.package__badge {
    background-color: #ff5454;
    color: white;
    position: absolute;
    right: 16px;
    top: 0;
    padding: 8px;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}


.package__link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__title {
    color: #0e330e;
    font-weight: bold;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    background: white;
    padding: 16px;
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    font-size: 20px;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: solid 4px #0e4f1f;
    border-right: none;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}


